{% extends "layout.html" %}
{% block content %}

    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans);

        body{
          background: #f2f2f2;
          font-family: 'Open Sans', sans-serif;
        }

        .search {
          width: 100%;
          position: absolute;
          top: 150;
          display: flex;
        }

        .searchTerm {
          width: 100%;
          border: 3px solid #00B4CC;
          border-right: none;
          padding: 5px;
          height: 80px;
          border-radius: 5px 0 0 5px;
          outline: none;
          color: #9DBFAF;
        }

        .searchTerm:focus{
          color: #00B4CC;
        }

        .searchButton {
          width: 60px;
          height: 80px;
          border: 1px solid #00B4CC;
          background: #00B4CC;
          color: #fff;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          font-size: 30px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap{
          width: 70%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .carousel-indicators {
          position: absolute;
          bottom: 40;
        }
    </style>


<!-----------carousel---------->
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>

      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://i.hizliresim.com/LDPMg0.jpg" alt="First slide" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://i.hizliresim.com/7DmJXL.jpg" alt="Second slide" width="1100" height="500">
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>



<!-- Search Bar -->

    <div class="wrap">
       <div class="search">
          <input type="text" class="searchTerm" placeholder="Enter a location">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
    </div>



{% endblock content %}
