{% extends "layout.html" %}
{% block content %}
    
    
    <div class="Pg-details">
      <h2>{{object.name}}</h2>
      <p>Address : {{object.address}}<br>
        Room Rent : {{object.room_rent}}<br>
        Mess facility : {% if object.mess_facility %}
                          Yes <br>
                        {% else %}
                          No <br>
                        {% endif %}
        Gender : {% if object.gender %}
                    Boys only <br>
                  {% else %}
                    Girls only <br>
                  {% endif %}    
      </p>
    </div>


{% endblock content %}